@import '@/common/styles/variables.scss';

.order-result{
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  width: 320px;
  min-height: 240px;
  padding: 30px 35px;
  padding-top: 45px;
  background-color: $white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px;
  z-index: 1000;


  &__icon--success{
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
  }

  &__inner{
    display: flex;
    flex-direction: column;
  }

  &__title{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__message{
    margin-bottom: 20px;
    text-align: center;
  }

}